.Nav {
    grid-area: n;
    background-color: #e4184b;
    /*height: 436px;*/
    padding-left: 20px;
    padding-top: 20px;
    font-size: 20px;
   }

.item a{
    color:white;
    text-decoration: none ;
}

.item a.active{
    color:gold;
}

