.Wrapper {
    display: grid;
    grid-template-rows: 1fr 7fr 1fr;
    grid-template-columns: 2fr 8fr;
    grid-template-areas:'h h '
                         'n a '
                         'f f ';
}

.Footer {
    grid-area: f;
}

.app-wrapper-content {
    grid-area: a;
}
