.Wrapper {

    text-align: center;
    display: grid;
    grid-template-rows: 1fr 7fr 1fr;
    grid-template-columns: 2fr 8fr;
    grid-template-areas:'h h '
                         'n a '
                         'f f ';
}

.Header img {
    width: 15%;
    margin-top: 15px;
}

.Article img {
    width: 100%;
}

.Header {
    grid-area: h;
}

.Nav {
    grid-area: n;
    background-color: #e4184b;
    color:white;
}

.Article {
    grid-area: a;
    background-color: darkcyan;
}

.Footer {
    grid-area: f;
   }